<div class="product">
  <h1>CH7390 Ultra Driver - Screws</h1>

  <ul class="screw-links">
    <a href="#drywall-fine-thread"><li>Drywall Screws - Fine thread (Drywall or Wood to Light Gauge Steel)</li></a>
    <a href="#drywall-coarse-thread"><li>Drywall Screws - Coarse thread (Drywall or Wood to Wood)</li></a>
    <a href="#subfloor-underlayment"><li>Subfloor And Underlayment Screws (Wood to Wood)</li></a>
    <a href="#self-drilling"><li>Self Drilling Screws (Wood To Metal) </li></a>
    <a href="#exterior-deck"><li>Exterior Deck Screws</li></a>
    <a href="#shroomless"><li>Shroom-less Screws For Composite Deck</li></a>
    <a href="#stainless-steel"><li>Stainless Steel Screws</li></a>
    <a href="#trim-head"><li>Trim Head Deck Screws</li></a>
    <a href="#ejector"><li>Ejector Screws</li></a>
  </ul>
</div>


<div class="screw" id="drywall-fine-thread">
  <h2>Drywall Screws - Fine thread (Drywall or Wood to Light Gauge Steel)</h2>
  <img src="/products/screws/individual/drywall-fine-thread.png" alt="Drywall Screw - Fine thread (Drywall or Wood to Light Gauge Steel)">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">AH6100PMS</td>
      <td class="medium">2,100</td>
      <td class="large group"><span class="diameter">#6</span>X<span class="length">1-5/8”</span></td>
      <td class="medium">#2 Philips</td>
      <td class="small">Fine</td>
      <td class="small">Needle Point</td>
      <td class="medium">Black Phosphate</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">AH6200PMSU</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#6</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Philips</td>
      <td class="small">Fine</td>
      <td class="small">Needle Point</td>
      <td class="medium">Black Phosphate</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">AH8300PMSU</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#6</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Philips</td>
      <td class="small">Fine</td>
      <td class="small">Needle Point</td>
      <td class="medium">Black Phosphate</td>
      <td class="medium">Bugle Head</td>
    </tr>
  </table>
</div>

<div class="screw" id="drywall-coarse-thread">
  <h2>Drywall Screws - Coarse thread (Drywall or Wood to Wood)</h2>
  <img src="/products/screws/individual/drywall-coarse-thread.png" alt="Drywall Screw - Coarse thread (Drywall or Wood to Wood)">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">BH6200PMSU</td>
      <td class="medium">2,100</td>
      <td class="large group"><span class="diameter">#6</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Philips</td>
      <td class="small">Coarse</td>
      <td class="small">Needle Point</td>
      <td class="medium">Black Phosphate</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">BH8212PMSU</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Philips</td>
      <td class="small">Coarse</td>
      <td class="small">Needle Point</td>
      <td class="medium">Black Phosphate</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">AH8300PMSU</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Philips</td>
      <td class="small">Coarse</td>
      <td class="small">Needle Point</td>
      <td class="medium">Black Phosphate</td>
      <td class="medium">Bugle Head</td>
    </tr>
  </table>
</div>

<div class="screw" id="Subfloor-underlayment">
  <h2>Subfloor And Underlayment Screws (Wood to Wood)</h2>
  <img src="/products/screws/individual/Subfloor-square.png" alt="Subfloor And Underlayment  Screws (Wood to Wood) Robertson Screw">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8112YMSU</td>
      <td class="medium">2,100</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">1-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="small">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8134YMSU</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">1-3/4”</span></td>
      <td class="medium">#2 Square</td>
      <td class="small">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8200YMSU</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="small">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8212YMSU</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="small">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8300YMSU</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Square</td>
      <td class="small">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>
  </table>
</div>

<div class="screw" id="Subfloor-underlayment">
  <img src="/products/screws/individual/Subfloor-phillips.png" alt="Subfloor And Underlayment Screws (Wood to Wood) Phillips Screw">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">CH8112YMSU</td>
      <td class="medium">2,100</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">1-1/2”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CH8134YMSU</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">1-3/4”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CH8200YMSU</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CH8212YMSU</td>
      <td class="medium">2,400</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8300YMSU</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">Yellow Zinc</td>
      <td class="medium">Flat Head</td>
    </tr>
  </table>
</div>

<div class="screw" id="self-drilling">
  <h2>Self Drilling Screws (Wood to Metal)</h2>
  <img src="/products/screws/individual/self-drilling-wood-to-metal.png" alt="Self Drilling Screws (Wood to Metal)">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">FH8156BMSU</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">1-15/16”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Fine Thread</td>
      <td class="small">Pilot Point</td>
      <td class="medium">Bright Zinc</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">FH6158BMSU</td>
      <td class="medium">2,100</td>
      <td class="large group"><span class="diameter">#6</span>X<span class="length">1-5/8”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Fine Thread</td>
      <td class="small">Drill Point</td>
      <td class="medium">Bright Zinc</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">FH6200BMSU</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#6</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Fine Thread</td>
      <td class="small">Drill Point</td>
      <td class="medium">Bright Zinc</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">FH8238BMSU</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-3/8”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Fine Thread</td>
      <td class="small">Drill Point</td>
      <td class="medium">Bright Zinc</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">FH8300BMSU</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="small">Fine Thread</td>
      <td class="small">Drill Point</td>
      <td class="medium">Bright Zinc</td>
      <td class="medium">Bugle Head</td>
    </tr>
  </table>
</div>

<div class="screw" id="exterior-deck">
  <h2>Exterior Deck Screws</h2>
  <img src="/products/screws/individual/exterior-deck-square.png" alt="Exterior Deck Screws (Square)">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8112CMSU-G</td>
      <td class="medium">2,100</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">1-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">C-coat, Green</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8134CMSU-G</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">1-3/4”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">C-coat, Green</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8200WMSU-G</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">ShieldGuard, Green</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8212WMSU-G</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">ShieldGuard, Green</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8212WMSU-GY</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">ShieldGuard, Gray</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8212CMSU-B</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">C-coat, Brown</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8300WMSU-GY</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">ShieldGuard, Gray</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8300WMSU-G</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Twin Fast</td>
      <td class="small">Sharp Point</td>
      <td class="medium">ShieldGuard, Green</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8300CMSU-B</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">C-coat, Brown</td>
      <td class="medium">Flat Head</td>
    </tr>
  </table>
</div>

<div class="screw" id="exterior-deck">
  <img src="/products/screws/individual/exterior-deck-phillips.png" alt="Exterior Deck Screws (Phillips)">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">ES8112CMSU-G</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="medium">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">ShieldGuard, Gray</td>
      <td class="medium">Flat Head</td>
    </tr>

    <tr>
      <td class="ref-data large">EH8212WMSU-GY</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Phillips</td>
      <td class="medium">Coarse</td>
      <td class="small">Sharp Point</td>
      <td class="medium">ShieldGuard, Gray</td>
      <td class="medium">Flat Head</td>
    </tr>
  </table>
</div>


<div class="screw" id="shroomless">
  <h2>Shroomless Screws For Composite Deck</h2>
  <img src="/products/screws/individual/shroomless.png" alt="Shroomless Screws For Composite Deck">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">TX9212CMSU-GY</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#9</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">Torx 20</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">C-coat Gray</td>
      <td class="medium">Non-Mushrooming Head</td>
    </tr>

    <tr>
      <td class="ref-data large">TX9212CMSU-TN</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#9</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">Torx 20</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">C-coat Tan</td>
      <td class="medium">Non-Mushrooming Head</td>
    </tr>
  </table>
</div>

<div class="screw">
  <h2>Stainless Steel Screws</h2>
  <img src="/products/screws/individual/stainless-steel.png" alt="Stainless Steel Screws">

  <table class="screw-table" id="stainless-steel">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8134SMSU</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">1-3/4”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">304 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8200SMSU-T17</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8212SMSU-T17</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS8300SMSU</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS0200SMSU-T17</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#10</span>X<span class="length">2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS0212SMSU-T17</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#10</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS0300SMSU-T17</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#10</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS0212SMSU-316</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#10</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">CS0300SMSU-316</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#10</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>
  </table>
</div>

<div class="screw" id="trim-head-deck">
  <h2>Trim Head Deck Screws</h2>
  <img src="/products/screws/individual/trim-head-deck.png" alt="Trim Head Deck Screws">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">YS8212SMSU</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>

    <tr>
      <td class="ref-data large">YS8300SMSU</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#8</span>X<span class="length">3”</span></td>
      <td class="medium">#2 Square</td>
      <td class="medium">Coarse</td>
      <td class="small">Type 17</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Bugle Head</td>
    </tr>
  </table>
</div>


<div class="screw" id="ejector">
  <h2>Ejector Screws</h2>
  <img src="/products/screws/individual/ejector.png" alt="Ejector Screws">

  <table class="screw-table">
    <tr class="bold headers">
      <td class="large">Product Code</td>
      <td class="medium">Quantity per box</td>
      <td class="large two-line"><p class="group">Size<br><span class="diameter">Diameter</span><span class="length">Length</span></p></td>
      <td class="medium">Drive</td>
      <td class="small">Thread</td>
      <td class="small">Screw Tip</td>
      <td class="medium">Coating</td>
      <td class="medium">Description</td>
    </tr>

    <tr>
      <td class="ref-data large">TX0200SMSU-EJ</td>
      <td class="medium">1,800</td>
      <td class="large group"><span class="diameter">#10</span>X<span class="length">2”</span></td>
      <td class="medium">Torx 25</td>
      <td class="medium">Coarse</td>
      <td class="small">Patened Wood Driller</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Trim Head - Type 305 S/S</td>
    </tr>

    <tr>
      <td class="ref-data large">TX0212SMSU-EJ</td>
      <td class="medium">1,500</td>
      <td class="large group"><span class="diameter">#10</span>X<span class="length">2-1/2”</span></td>
      <td class="medium">Torx 25</td>
      <td class="medium">Coarse</td>
      <td class="small">Patened Wood Driller</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Trim Head - Type 305 S/S</td>
    </tr>

    <tr>
      <td class="ref-data large">TX0300SMSU-EJ</td>
      <td class="medium">1,200</td>
      <td class="large group"><span class="diameter">#10</span>X<span class="length">3”</span></td>
      <td class="medium">Torx 25</td>
      <td class="medium">Coarse</td>
      <td class="small">Patened Wood Driller</td>
      <td class="medium">305 Stainless Steel</td>
      <td class="medium">Trim Head - Type 305 S/S</td>
    </tr>
  </table>
</div>