<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> has just subscribed to receive updates from Muro!</h1>
    <p>
      <%= @name %> with the email <%= @email %> has requested to be added to Muro's
      mailing list.
    </p>
  </body>
</html>