<h1 class="index heading">DOWNLOADS</h1>

<section class="list-four videos">
  <div class="block">
    <h3><%= link_to "BROCHURES", downloads_brochures_path %></h3>
    <a href="<%= downloads_brochures_path %>"><img class="select" src="/downloads/brochures.png" alt="Brochures"></a>
  </div>

  <div class="block">
    <h3><%= link_to "VIDEOS", downloads_videos_path %></h3>
    <a href="<%= downloads_videos_path %>"><img class="select" src="/downloads/videos.png" alt="Videos"></a>
  </div>
</section>