<h2 class="heading distributors">International Distributors</h2>

<p>Below is a list of the international distributors for Muro products and their corresponding contact information.</p>

<section class="group">
  <div class="distributor two-col group no-margin-left">
    <h3>Australia</h3>

    <div class="location">
      <p>
        Iccons Pty Ltd.<br>
        12-18 Produce Drive<br>
        Dandenong South,<Br>
        Victoria 3175<Br>
      </p>

      <p>
        Phone: 03 9706 4344<br>
        Fax: 03 9768 3329<br>
        Email: <a href="mailto:sales@iccons.com.au">sales@iccons.com.au</a><br>
        Website: <a href="http://www.iccons.com.au">www.iccons.com.au</a>
      </p>
    </div>

    <div class="location">
      <p>
        Powers Fasteners<Br>
        3 / 205 Abbotts Road<Br>
        Dandenong South, <Br>
        Victoria 3175<Br>
      </p>
      <p>
        Tel: + 61 03 8795 4600 <Br>
        Fax: + 61 03 8787 5899 <Br>
        Email: <a href="mailto:info@powers.com.au">info@powers.com.au</a><Br>
        Web: <a href="www.powers.com.au">www.powers.com.au</a><Br>
      </p>
    </div>
  </div>


  <div class="distributor">
    <h3>Netherlands</h3>

    <div class="location">
      <p>
        Verpa Senco Nederland B.V.<br>
        Pascallaan 88<br>
        Lelystad, 8218NJ<br>
        The Netherlands<br>
      </p>

      <p>
        Tel: + 31 0 320 29 55 55<br>
        Fax: +31 0 320 29 55 34<br>
        Email: <a href="mailto:info@verpa-senco.com">info@verpa-senco.com</a><br>
        Web: <a href="www.verpa-senco.com">www.verpa-senco.com</a><br>
      </p>
    </div>
  </div>

  <div class="distributor clear no-left">
    <h3>New Zealand</h3>

    <div class="location">
      <p>
        FORTRESS Fasteners<br>
        562 Rosebank Road<br>
        Avondale Auckland<br>
        New Zealand<br>
      </p>

      <p>
        Tel: + 64 9 828 2777<br>
        Fax: + 64 9 828 2424<br>
        Email: <a href="mailto:tait@fortressfasteners.co.nz">tait@fortressfasteners.co.nz</a><br>
        Web: <a href="www.fortressfasteners.co.nz">www.fortressfasteners.co.nz</a>
      <p>
    </div>
    </p>

  </div>

  <div class="distributor">
    <h3>United Kingdom</h3>

    <div class="location">
      <p>
        Poppers Senco UK Ltd<br>
        Gemini Business Park Westbrook<br>
        Warrington WA5 7YH<br>
        United Kingdom<br>
      </p>

      <p>
        Tel: (192) 544-5566 <br>
        Fax: (192) 541-8873<br>
        Email:<a href="mailto:sales@poppers-senco.co.uk">sales@poppers-senco.co.uk</a><br>
        Web: <a href="www.poppers-senco.co.uk">www.poppers-senco.co.uk</a>
      </p>
    </div>
  </div>

  <div class="distributor">
    <h3>Norway</h3>

    <div class="location">
      <p>
        Motek AS<Br>
        Alf Bjerckes vei 22b<Br>
        0582 Oslo<Br>
        Norway
      </p>

      <p>
        Tel:+ 47 9 824 7476<br>
        Fax: + 47 2 272 1078<br>
        Email: <a href="mailto:firmapost@motek.no">firmapost@motek.no</a><br>
        Web: <a href="www.motek.no">www.motek.no/</a>
      </p>
    </div>
  </div>

  <div class="distributor no-left clear">
    <h3>Belgium</h3>

    <div class="location">
      <p>
        Cerclindus<br>
        Uilenbaan 120<br>
        BE 2160<br>
        Wommelgem<br>
        Belgium
      </p>

      <p>
        Tel: + 32 3 355 0353<br>
        Fax: + 32 3 355 0373<br>
        Email:<a href="mailto:info@cerclindus.be">info@cerclindus.be</a><br>
        Web: <a href="www.cerclindus.be">www.cerclindus.be</a>
      </p>
    </div>
  </div>

  <div class="distributor">
    <h3>France</h3>

    <div class="location">
      <p>
        SARL ERICANA<br>
        B.P. 130<br>
        74410 Saint Eustache<br>
        France
      </p>

      <p>
        Tel/Fax: + 33 04 50 32 3105<br>
        Email: <a href="mailto:ericana@free.fr">ericana@free.fr</a><br>
        Web: <a href="www.muro.com">www.muro.com</a>
      </p>
    </div>
  </div>

</section>

