<h2 class="heading">COMMERCIAL ROOFING</h2>

<section class="main-section group">
  <img class="main-pic" src="/applications/roofing/commercial-roofing.png" alt="Residential roofing Muro tools application">
  <div class="description">
    <h3 class="catch-phrase">Roofing will never be the same
with our Auto Feed Screw Driving systems at your disposal.</h3>
      <ul class="highlights">
        <li>Perfect for roof stitching or screwing down metal industrial / commercial roofs on steel beams.</li>
        <li>Pole-barns come together faster than ever before.</li>
        <li>For each roofing application you have, we have a tool that will work for you.</li>
        <li>You can relax without reaching for single screws when working multiple stories high off the ground.</li>

      </ul>
  </div>
</section>

<section class="tools-for-job group">
  <h3>Tools For The Job</h3>
  <article>
    <a href=""><img src="/applications/roofing/ch7260.png" alt="Ultra Driver Auto Feed Screw Driver"></a>
    <div>
      <h4><a href="">CH7260 - Metal Pro Tool</a></h4>
      <p>Tool designed for a variety of #10 &amp; #12 diameter fasteners. Forget about working bent over, stand up for any job! <strong><a href="">Find out more.</a></strong></p>
    </div>
  </article>

  <article>
    <a href=""><img src="/applications/roofing/commercial/ch7271wu.png" alt="CH7271WU Auto Feed Screw Driver "></a>
    <div>
      <h4><a href="">CH7271WU</a></h4>
      <p>
Tool to drive pan head stitching screws - up to #10 diameter. Yes, even while standing up. <strong><a href="">Find out more.</a></strong></p>
    </div>
  </article>

   <article>
    <a href=""><img src="/applications/roofing/commercial/lhvl32.png" alt="LHVL32 Auto Feed Screw Driver "></a>
    <div>
      <h4><a href="">LHVL32</a></h4>
      <p>
System to drive hex head screws with rubber washers. Perfect for metal clading. <strong><a href="">Find out more.</a></strong></p>
    </div>
  </article>

   <article>
    <a href=""><img src="/applications/roofing/shvl62.png" alt="SHVL62 Auto Feed Screw Driver "></a>
    <div>
      <h4><a href="">SHVL62</a></h4>
      <p>
Created for those larger roofing jobs (75 screws per coil). Handles a variety of screws, with or without rubber washers. <strong><a href="">Find out more.</a></strong></p>
    </div>
  </article>


</section>