<h2 class="heading">COMMERCIAL ROOFING</h2>

<section class="main-section group">
  <img class="main-pic" src="/applications/roofing/commercial-roofing.png" alt="Residential roofing Muro tools application">
  <div class="description">
    <h3 class="catch-phrase">Roofing will never be the same on your job-site
with our Auto Feed Screw Driving systems at your disposal.</h3>
      <ul class="highlights">
        <li>Perfect for roof stitching or screwing down metal industrial / commercial roofs on steel beams.</li>
        <li>Pole-barns come together faster than ever before.</li>
        <li>For each roofing application you have, we have a tool that will work for you.</li>
        <li>You can relax without reaching for single screws when working multiple stories high off the ground.</li>

      </ul>
  </div>
</section>

<section class="tools-for-job group">
  <h3>Tools For The Job</h3>
  <article>
    <a href=""><img src="/applications/roofing/commercial/ch7260.png" alt="Ultra Driver Auto Feed Screw Driver"></a>
    <div>
      <h4><a href="">CH7260 - Metal Pro Tool</a></h4>
      <p>A tool to drive 5/16” hex head screws, all while standing up and not touching every screw, the evolution continues. <strong><a href="">Find out more.</a></strong></p>
    </div>
  </article>

  <article>
    <a href=""><img src="/applications/roofing/commercial/ch7271wu.png" alt="CH7271WU Auto Feed Screw Driver "></a>
    <div>
      <h4><a href="">CH7271WU</a></h4>
      <p>
A tool to drive Pan Head stitching screws, all while walking no need to handle every screw. <strong><a href="">Find out more.</a></strong></p>
    </div>
  </article>

   <article>
    <a href=""><img src="/applications/roofing/commercial/lhvl32.png" alt="LHVL32 Auto Feed Screw Driver "></a>
    <div>
      <h4><a href="">LHVL32</a></h4>
      <p>
System designed to drive hex head screws with rubber washers, helps you get it covered in record time. <strong><a href="">Find out more.</a></strong></p>
    </div>
  </article>

   <article>
    <a href=""><img src="/applications/roofing/commercial/nothing.png" alt="SHVL62 Auto Feed Screw Driver "></a>
    <div>
      <h4><a href="">SHVL62</a></h4>
      <p>
Need a description here. This product still needs a description and a picture. Placeholder Text and picture for right nowfor right now... <strong><a href="">Find out more.</a></strong></p>
    </div>
  </article>


</section>