<h2 class="heading">MORE APPLICATIONS</h2>

<img src="/applications/more_applications/banner.jpg" alt="More Muro Signature Product Application" class="more-applications">

<h3 class="catch-phrase">Roofing will never be the same on your job-site
with our Auto Feed Screw Driving systems at your disposal.</h3>

<section id="application">
  <table id="fixed-column";>
    <thead>
      <tr>
        <th class="black grey">Tool</th>
      </tr>
      
      <tr>
        <td class="grey bold">Screw Length Range (inches)</td>
      </tr>

      <tr>
        <td class="grey bold">Screw Gauge</td>
      </tr>

      <tr>
        <td class="grey bold">RPM</td>
      </tr>
    </thead>

      <tr class="top-border">
        <th class="bold">APPLICATION</th>
      </tr>

      <tr class="top-border">
        <th class="grey" style="font-size: 1.2em;">Magazine Mount</th>
      </tr>

      <tr class="top-border">
        <td class="tool">Fastening Sub Floor (wood/cement boards)</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Decks Construction</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Docks Construction</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Fastening Underlayment</td>
      </tr>

       <tr class="top-border">
        <td class="tool">Fence Building</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Stair Treads</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Wood Framing </td>
      </tr>

      <tr class="top-border">
        <td class="tool">Attaching Roof Boards</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Slotted Panels - Garage Storage Systems</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Store Fixtures</td>
      </tr>

       <tr class="top-border">
        <td class="tool">Drywall or Wood to Light Metal Studs</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Drywall or Wood to Wood Studs</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Fastening Cement Board (Walls)</td>
      </tr>




      <tr class="top-border">
        <td class="tool">Fastening Chipboard</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Fastening Sheathing</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Furniture Manufacturing</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Fabrication / Repair Pallets</td>
      </tr>

       <tr class="top-border">
        <td class="tool">Crating</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Metal Wall Skinning</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Roof Stiching (Metal to Metal)</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Sheet Metal Applications</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Steel to Steel Framing</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Wood to Steel Applications </td>
      </tr>

       <tr class="top-border">
        <td class="tool">Steel to Wood Applications </td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Metal Roofing</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Siding</td>
      </tr>

      <tr class="top-border">
        <td class="tool">HVAC</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Trailer Floor Restoration </td>
      </tr>

      <tr class="top-border">
        <td class="tool">Trailer Floor Fabrication </td>
      </tr>

      <tr class="top-border">
        <td class="tool">Utility Trailer Fabrication</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Mezzanine Flooring</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Bus Fabrication</td>
      </tr>

       <tr class="top-border">
        <td class="tool">Recreational Vehicles Fabrication</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Commercial Vehicles</td>
      </tr>    
  </table>


  <div id="table-container">
    <table id="scroll">
      <tr>  
        <th class="CH7390">CH7390</th>
        <th class="CH7392SF">CH7392SF</th>
        <th class="CH7241DE">CH7241DE</th>
        <th class="CH7241WU">CH7241WU</th>
        <th class="CH7260">CH7260</th>
        <th class="CH7263">CH7263</th>
        <th class="CH7264">CH7264</th>
        <th class="CH7265">CH7265</th>
        <th class="VL62-ED">VL62-ED</th>
        <th class="VL62-SH">VL62-SH</th>
        <th class="VL62-EF">VL62-EF</th>
        <th class="VL62-LP">VL62-LP</th>
        <th class="VL62-SP">VL62-SP</th>
        <th class="FDVL41">FDVL41</th>
        <th class="HDVL71">HDVL71</th>
        <th class="FLVL41">FLVL41</th>
        <th class="LWVL32">LWVL32</th>
        <th class="LHVL32">LHVL32</th>

       </tr> 

      <tr>
        <td class="CH7390">1-1/2 to 3</td>
        <td class="CH7392SF">1 - 2</td>
        <td class="CH7241DE">3/4 to 1-5/8</td>
        <td class="CH7241WU">3/4 to 1-5/8</td>
        <td class="CH7260"></td>
        <td class="CH7263"></td>
        <td class="CH7264"></td>
        <td class="CH7265"></td>
        <td class="VL62-ED"></td>
        <td class="VL62-SH"></td>
        <td class="VL62-EF"></td>
        <td class="VL62-LP"></td>
        <td class="VL62-SP"></td>
        <td class="FDVL41"></td>
        <td class="HDVL71"></td>
        <td class="FLVL41"></td>
        <td class="LWVL32"></td>
        <td class="LHVL32"></td>
      </tr>

      <tr>  
        <td class="CH7390"># 6 to # 10</td>
        <td class="CH7392SF"># 6 to # 8</td>
        <td class="CH7241DE"># 6 to # 8</td>
        <td class="CH7241WU"># 6 to # 8</td>
        <td class="CH7260"></td>
        <td class="CH7263"></td>
        <td class="CH7264"></td>
        <td class="CH7265"></td>
        <td class="VL62-ED"></td>
        <td class="VL62-SH"></td>
        <td class="VL62-EF"></td>
        <td class="VL62-LP"></td>
        <td class="VL62-SP"></td>
        <td class="FDVL41"></td>
        <td class="HDVL71"></td>
        <td class="FLVL41"></td>
        <td class="LWVL32"></td>
        <td class="LHVL32"></td>
      </tr>

      <tr>  
        <td class="CH7390">2500</td>
        <td class="CH7392SF">4000</td>
        <td class="CH7241DE">4000</td>
        <td class="CH7241WU">2500</td>
        <td class="CH7260"></td>
        <td class="CH7263"></td>
        <td class="CH7264"></td>
        <td class="CH7265"></td>
        <td class="VL62-ED"></td>
        <td class="VL62-SH"></td>
        <td class="VL62-EF"></td>
        <td class="VL62-LP"></td>
        <td class="VL62-SP"></td>
        <td class="FDVL41"></td>
        <td class="HDVL71"></td>
        <td class="FLVL41"></td>
        <td class="LWVL32"></td>
        <td class="LHVL32"></td>
      </tr>

      <tr class="fix1 top-border">  
        <td class="CH7390">Strip</td>
        <td class="CH7392SF">Strip</td>
        <td class="CH7241DE">Strip</td>
        <td class="CH7241WU">Strip</td>
        <td class="CH7260"></td>
        <td class="CH7263"></td>
        <td class="CH7264"></td>
        <td class="CH7265"></td>
        <td class="VL62-ED"></td>
        <td class="VL62-SH"></td>
        <td class="VL62-EF"></td>
        <td class="VL62-LP"></td>
        <td class="VL62-SP"></td>
        <td class="FDVL41"></td>
        <td class="HDVL71"></td>
        <td class="FLVL41"></td>
        <td class="LWVL32"></td>
        <td class="LHVL32"></td>
      </tr>

      <tr class="fix2 top-border">  
        <td class="CH7390">n/a</td>
        <td class="CH7392SF">n/a</td>
        <td class="CH7241DE">n/a</td>
        <td class="CH7241WU">n/a</td>
        <td class="CH7260"></td>
        <td class="CH7263"></td>
        <td class="CH7264"></td>
        <td class="CH7265"></td>
        <td class="VL62-ED"></td>
        <td class="VL62-SH"></td>
        <td class="VL62-EF"></td>
        <td class="VL62-LP"></td>
        <td class="VL62-SP"></td>
        <td class="FDVL41"></td>
        <td class="HDVL71"></td>
        <td class="FLVL41"></td>
        <td class="LWVL32"></td>
        <td class="LHVL32"></td>
      </tr> 

      <div id="tools">
      <!-- Fastening Sub Floor (wood/cement boards) -->
        <tr class="tool top-border">
         <td><img src="/applications/more_applications/check.png" alt=""></td>
            <td><img src="/applications/more_applications/check.png" alt=""></td>
            <td></td>
            <td></td>
          </tr>
      
        <!-- Decks Construction -->
        <tr class="tool top-border">
         <td><img src="/applications/more_applications/check.png" alt=""></td>
            <td><img src="/applications/more_applications/check.png" alt=""></td>
            <td></td>
            <td></td>
          </tr>

        <!-- Docks Construction -->
        <tr class="tool top-border">
         <td><img src="/applications/more_applications/check.png" alt=""></td>
            <td><img src="/applications/more_applications/check.png" alt=""></td>
            <td></td>
            <td></td>
          </tr>
        
        <!-- Fastening Underlayment -->
        <tr class="tool top-border">
         <td><img src="/applications/more_applications/check.png" alt=""></td>
            <td><img src="/applications/more_applications/check.png" alt=""></td>
            <td></td>
            <td></td>
          </tr>
      </div>
    </table>
</div>
</section>