<h2 class="heading">MORE APPLICATIONS</h2>

<img src="/applications/more_applications/banner.jpg" alt="More Muro Signature Product Application" class="more-applications">

<h3 class="catch-phrase">Roofing will never be the same on your job-site
with our Auto Feed Screw Driving systems at your disposal.</h3>

<section id="application">
<table id="fixed-column" style="width: 30%";>
  <thead>
    <tr>
      <th class="black grey">Tool</th>
    </tr>
    
    <tr>
      <td class="grey bold">Screw Length Range (inches)</td>
    </tr>

    <tr>
      <td class="grey bold">Screw Gauge</td>
    </tr>

    <tr>
      <td class="grey bold">RPM</td>
    </tr>
  </thead>

    <tr class="top-border">
      <th class="bold">APPLICATION</th>
      
    </tr>

    <tr class="top-border">
      <th class="grey" style="font-size: 1.2em;">Magazine Mount</th>
    </tr>

     <tr class="top-border">
        <td class="tool">Fastening Sub Floor (wood/cement boards)</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Decks Construction</td>
      </tr>
      
      <tr class="top-border">
        <td class="tool">Docks Construction</td>
      </tr>

      <tr class="top-border">
        <td class="tool">Fastening Underlayment</td>
      </tr>
  </table>


<div id="table-container" style="width: 70%">
  <table id="scroll" style="width: 1000px">
    <tr class="top-border">  
      <th>CH7390</th>
      <th>CH7392SF</th>
      <th>CH7241DE</th>
      <th>CH7241WU</th>
     </tr> 

    <tr class="top-border">  
      <td>1-1/2 to 3</td>
      <td>1 - 2</td>
      <td>3/4 to 1-5/8</td>
      <td>3/4 to 1-5/8</td>
    </tr>

    <tr class="top-border">  
      <td># 6 to # 10</td>
      <td># 6 to # 8</td>
      <td># 6 to # 8</td>
      <td># 6 to # 8</td>
    </tr>

    <tr class="top-border">  
      <td>2500</td>
      <td>4000</td>
      <td>4000</td>
      <td>2500</td>
    </tr>

    <tr class="top-border">  
      <td>Strip</td>
      <td>Strip</td>
      <td>Strip</td>
      <td>Strip</td>
    </tr>

    <tr class="top-border">  
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tr> 

    <div id="tools">
    <!-- Fastening Sub Floor (wood/cement boards) -->
      <tr class="top-border">
       <td><img src="/applications/more_applications/check.png" alt=""></td>
          <td><img src="/applications/more_applications/check.png" alt=""></td>
          <td></td>
          <td></td>
        </tr>
    
      <!-- Decks Construction -->
      <tr class="top-border">
       <td><img src="/applications/more_applications/check.png" alt=""></td>
          <td><img src="/applications/more_applications/check.png" alt=""></td>
          <td></td>
          <td></td>
        </tr>

      <!-- Docks Construction -->
      <tr class="top-border">
       <td><img src="/applications/more_applications/check.png" alt=""></td>
          <td><img src="/applications/more_applications/check.png" alt=""></td>
          <td></td>
          <td></td>
        </tr>
      
      <!-- Fastening Underlayment -->
      <tr class="top-border">
       <td><img src="/applications/more_applications/check.png" alt=""></td>
          <td><img src="/applications/more_applications/check.png" alt=""></td>
          <td></td>
          <td></td>
        </tr>
    </div>
  </table>
</div>
</section>