<h2 class="heading">MORE APPLICATIONS</h2>

<img src="/applications/more_applications/banner.jpg" alt="More Muro Signature Product Application" class="more-applications">

<h3 class="catch-phrase">Find the recommended tool for your application below.</h3>

<!-- <a href="#VL62-SH">Go to VL62-SH</a> -->

<p class="scroll-instructions">Scroll left to right to view applications for each tool. Click on each tool to view more information.</p>
 <div id="top-scroll-container">
    <div id="top-scroll"></div>
  </div>


 <input type="button" id="left-button" class="scroll scroll-left" value="< Scroll Left">
  <input type="button" id="right-button" class="scroll scroll-right" value="Scroll Right >">

<%= render 'more_applications_table' %>



<script>
    $(function(){
    $("#top-scroll-container").scroll(function(){
        $("#table-container")
            .scrollLeft($("#top-scroll-container").scrollLeft());
    });
    $("#table-container").scroll(function(){
        $("#top-scroll-container")
            .scrollLeft($("#table-container").scrollLeft());
    });
  });


    $(window).scroll(function(event){
  var scroll = $(window).scrollTop();
      if (scroll >= 100) {
        $(".scroll").addClass("show");
      } else {
        $(".scroll").removeClass("show");
      }
    });


     $(function () {
        var scrollable = $('#table-container');
        console.log(scrollable);

        $('#right-button').mousedown(function () {
           var leftPos = scrollable.scrollLeft();
           scrollable.animate({ scrollLeft: leftPos + 593 }, 800);
        });


        $('#left-button').mousedown(function () {
           var leftPos = scrollable.scrollLeft();
           scrollable.animate({ scrollLeft: leftPos - 593 }, 800);
        });
     });
</script>