<h2 class="heading">TRAILER / BUS / RV</h2>

<section class="main-section group">
	<img class="main-pic" src="/applications/trailer/trailer-main.png" alt="trailer Muro tools application">
	<div class="description">
		<h3 class="catch-phrase">The proven solution for truck, RV and bus manufacturing. 
Fasten down your floors and walls without a hitch.
</h3>
			<ul class="highlights">
				<li>Our tools actually work, provide consistent installations each and every time. </li>
				<li>Sold worldwide to major manufacturers
</li>
				<li>The savings on labour are undeniable, Muro Auto-Feed systems have set a new standard.</li>
				<li>Forget about getting on your hands and knees, work while standing up.</li>
				<li>We have a tool for every application, light or heavy duty.
</li>
			</ul>
	</div>

</section>

<section class="tools-for-job group">
	<h3>Tools For The Job</h3>
	<article>
		<a href=""><img src="/applications/trailer/power-driver.png" alt="Power Driver Auto Feed Screw Driver with Handle"></a>
		<div>
			<h4><a href="">FLVL41 - Power Driver</a></h4>
			<p>The go to tool for lighter gauge steel and aluminum trailer, RV or bus flooring. You don’t have to worry about getting on your knees with the Power Driver ever again. Work while walking around and get the job done sooner than ever before. 
<strong><a href="">Find out more.</a></strong></p>
		</div>
	</article>
	<article>
		<a href=""><img src="/applications/trailer/heavy-duty-driver.png" alt="Heavy Duty Driver Auto Feed Screw Driver with Handle"></a>
		<div>
			<h4><a href="">HDVL71 - Heavy Duty Driver 
</a></h4>
			<p>The Heavy Duty driver handles the toughest jobs when fastening down your floors. This tool has the potential to save you time and money on all your future projects to come.<strong><a href=""> Find out more.</a></strong></p>
		</div>
	</article>
	<article>
		<a href=""><img src="/applications/trailer/ch7260-wall-skinning.png" alt="CH7260 - Wall Skinning"></a>
		<div>
			<h4><a href="">CH7260 - Wall Skinning
</a></h4>
			<p>This tool coupled with our wall skinning screw provides a unique solution for wall fabrication. 
<strong><a href=""> Find out more.</a></strong></p>
		</div>
	</article>

</section>



