<div class="specialized group">
  <div class="half">
    <img class="zoom_01 main" src="/products/tools/ultra-driver/ch7390sw-nose.png" data-zoom-image="/products/tools/ultra-driver/ch7390sw-nose-large.jpg"/>
    <h4>Designed for installing slot wall panels – self aligns screws into slots</h4>
  </div>

  <div class="half">
    <img class="zoom_01 main" src="/products/tools/ultra-driver/ch7392sf-nose.png" data-zoom-image="/products/tools/ultra-driver/ch7392sf-nose-large.png"/>
    <h4>Designed for flooring with none slip nose</h4>
  </div>
</div>