<% if @tool.product_code == "CH7390" %>
  <%= link_to "https://www.youtube.com/watch?v=pU--YN50RU8", target: "_blank" do %>
    <div class="see_more_button top-space">
      <h3>Video of Tool in Action</h3>
    </div>
  <% end %>
<% end %>

<% if @tool.product_code == "FDVL41" %>
  <%= link_to "https://www.youtube.com/watch?v=WGZocGgz86A", target: "_blank" do %>
    <div class="see_more_button top-space">
      <h3>Video of Tool in Action</h3>
    </div>
  <% end %>
<% end %>

<% if @tool.product_code == "FLVL41" %>
  <%= link_to "https://www.youtube.com/watch?v=3ei1GCa9_XM", target: "_blank" do %>
    <div class="see_more_button top-space">
      <h3>Video of Tool in Action</h3>
    </div>
  <% end %>
<% end %>

<% if @tool.product_code == "VL62"%>
  <%= link_to "https://www.youtube.com/watch?v=2jjjoVbJj8s", target: "_blank" do %>
    <div class="see_more_button top-space">
      <h3>Video of Tool in Action</h3>
    </div>
  <% end %>
<% end %>