<h1 class="index heading">ABOUT</h1>
<p class="heading">Follow the links below to learn more about Muro North America Inc. and our parent company Muro Corporation.</p>

<div class="about-header">
  <a href="http://www.muro.co.jp/company_en/greeting.html" target="_blank"><img src="about/muro-corporation.png" alt="Learn more about Muro Corporation"></a>
</div>

<div class="about-header">
   <a href="about/muro_north_america"><img src="about/muro-north-america.png" alt="Learn more about Muro North America"></a>
</div>
 
