<h2 class="heading muro-font">MURO NORTH AMERICA INC.</h2>
<img src="muro_building.jpg" alt="Muro North America Building in Brampton, Ontario">

<div class="muro-about">
  <p>In response to growing North American demand for Muro products throughout the 80’s it became obvious that a new facility would be necessary to continue to provide the level of service that customers had become accustomed to. In January of 1991, Muro North America Inc. a wholly owned subsidiary of Muro Corporation was formed. Operating out of a 50,000 square foot facility, Muro North America Inc. provides full service, manufacturing, distribution, engineering and product development functions.</p>

  <p>
  Conveniently located in Brampton, Ontario a suburb of Toronto (Canada’s largest city) and just one hour from the New York state border, it is well situated to provide required services to the North American Market and beyond. Today the North American operation has expanded its customer base and currently ships products to more than 14 countries worldwide.
  </p>

  <p>
    Muro North America Inc. continues to be a leader in the Auto Feed Screw Driving industry. Muro offers the widest product range of tools and fasteners available today, supplying full line coil feed and strip feed tools and collated fastener systems for construction, manufacturing, roofing, framing, transportation and dock and marine industries.
  </p>
</div>

<div class="stafda group">
  <h3>
    Muro North America Inc. is
    a proud member of the Speciality Tools &amp; Fasteners Distrubution Association
  </h3>

  <img src="stafda.png" alt="STAFDA logo">
</div>
