.accessory {
  background: #252525;
  box-sizing: border-box;
  border: thick solid $green;
  padding: 15px 40px;
  color: white;
  width: 47.5%;
  float: left;
  height: 450px;
  margin-bottom: 60px;



  &:nth-child(odd) {
    margin-left: 5%;
  }


  h3, h4, h5, p {
    font-family: 'Helvetica-Bold', Arial;
    line-height: 1.5em;
  }

  h4, h5 {
    color: $green;
  }

  h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
  }

  p {
    font-size: .9em;
    margin-top: -3px;
  }
}

.display {
  * {
    text-align: center;
  }

  img {
    display: block;
    margin: 20px auto 0;
    box-sizing: border-box;
    border: thick solid #ccc;
  }
}

.carry-bag {
  img {
    margin-top: 50px;
  }
}

.extension {
  height: auto;
  width: 100%;
  clear: left;
  margin-bottom: 100px;

  div.display {
    width: 30%;
    margin-left: 5%;
    float: left;

    img {
      width: 100%;
    }
  }

   div.display:nth-child(4){
    margin-left: 0;
  }
}

#driver-bits {
  h2 {
    font-family: 'Helvetica-Roman', Arial;
    font-size: 1.6em;

    strong {
      font-family: 'Helvetica-Bold', Arial;
    }
  }

  h3 {
    font-family:'Helvetica-Bold', Arial;
    font-size: 1.3em;
    display: inline;
  }

  h4 {
    font-family: 'Helvetica-Roman', Arial;
    font-size: 1em;
    margin-top: 20px;
  }

  .heading {
    background: #ccc;
    padding: 10px 5px;
  }

  img {
    display: inline;
    float: right;
    margin-right: 5%;
  }

}

.driver-bit {
  margin-top: 30px;

  p {
    width: 75%;
    margin: 20px auto 0;
  }

  table {
    border: none;
    margin-bottom: 40px;
    width: 75%;
    margin: 20px auto 0;
    color: white;
    text-align: center;
    font-size: .9em;

    tr:nth-child(odd) {
      background: #464646;
    }

    tr:nth-child(even) {
      background: #595656;
    }

    tr.bold {
      background: #cdcdcd;
      color: #252525;
    }

    td, th {
      border: 1px solid #2d2d2d;
      border-bottom: 1px solid #2d2d2d;
      border-spacing: 0.3em;
      padding: 2% 1%;
      background: none;
    }

    th {
      font-size: 1.1em;
      font-family: 'Helvetica-Bold'
    }
  }
}

.open-close {
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s; /* For Safari 3.1 to 6.0 */
  transition: transform 0.5s;
  cursor:pointer;
}

.rotate {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#accessories-chart {
  margin-top: 75px;

  h2 {
    font-family: 'Helvetica-Roman', Arial;
    font-size: 1.6em;
  }

  strong {
    font-family: 'Helvetica-Bold', Arial;
  }

  p {
    margin: 20px 0;
  }
}


