/*-------------------------------------------
Index
--------------------------------------------*/

.stafda.distributors {
  position: absolute;
  top:195px;
  right: 0;
  width: 35%;

  img {
    width: 28%;
    float: left;
  }

  h3 {
    float: right;
    margin-top: 20px;
    width: 70%;
    font-size: .9em;
    font-family: "Helvetica-Bold", Arial;
  }
}

.heading.distributors {
  margin-top: 45px;
}

#select-distributor {
  margin-top: 25px;
  .block {
    width: 30%;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 4.5%;

    h3 {
      font-family: 'Helvetica-Bold', Arial;
      text-align: center;
      margin-top: 10px;
      font-size: 1.1em;
    }


    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}


/*-------------------------------------------
International
--------------------------------------------*/

.distributor {
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-top: 50px;

  h3 {
    font-family: 'Helvetica-Roman', Arial;
    font-size: 1.2em;
    border-bottom: $green 1px solid;
    text-align: center;
    color: $red;
  }

  .location {
    margin-top: 15px;
    text-align: left;
    width: 90%;
    margin-left: 10%;

    p:first-child {
      margin-bottom: 10px;
    }
  }
}

.two-col {
  width: 65%;

  .location {
    float: left;
    width: 41%;
    margin-left: 12.5%;
  }

  .location:nth-child(2) {
    margin-left: 5%;
  }
}


/*-------------------------------------------
North American Distributors
--------------------------------------------*/

.muro-address {
  float: left;
  display: block;
  width: 35%;
  margin: 0;
  h3 {
    font-family: 'Helvetica-Bold', Arial;
    color: $red;
    font-size: 1.3em;
  }

  p strong {
    font-family: 'Helvetica-Bold';
    margin: 15px 0;
    display:block;
  }
}

#map {
  border: 3px solid $green !important;
  float: right !important;
  display: block;
  width: 60%;
  height: 300px;
  background-color: #CCC;
}