.stafda.distributors {
  position: absolute;
  top:-75px;
  right: 0;
  width: 35%;

  img {
    width: 28%;
    float: left;
  }

  h3 {
    float: right;
    margin-top: 10px;
    width: 70%;
    font-size: .9em;
    font-family: "Helvetica-Bold", Arial;
  }
}

.heading.distributors {
  margin-top: 20px;
}